p {
  font-size: 1em; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  text-align: center; }
  .menu:after {
    content: "]"; }
  .menu:before {
    content: "["; }
  .menu li {
    display: inline; }
  .menu li + li:before {
    content: "|";
    padding-right: 0.3em; }

.available {
  background-color: limegreen; }

.diffMonth {
  background-color: darkgrey; }

.noInterview {
  background-color: #b0ccd5; }

.disabled {
  background-color: #b0ccd5; }

.diffMonth {
  background-color: darkgrey; }
