p {
  font-size: 1em; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  text-align: center; }
  .menu:after {
    content: "]"; }
  .menu:before {
    content: "["; }
  .menu li {
    display: inline; }
  .menu li + li:before {
    content: "|";
    padding-right: 0.3em; }

.available {
  background-color: #afccd5; }

.diffMonth {
  background-color: darkgrey; }

.noInterview {
  background-color: #426976; }

.disabled {
  background-color: #426976; }

.diffMonth {
  background-color: darkgrey; }

.logoImage {
  height: auto;
  max-height: 55px;
  width: auto;
  max-width: 100%; }

.md-toolbar-tools {
  background-color: #242424;
  color: white; }
