<p>This is the partial for the applications!</p>

<md-content layout="column">
    <div>
        <md-input-container>
            <label>Name</label>
            <input ng-model="vm.user.name">
        </md-input-container>


        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised" ng-click="vm.sendApp()">{{vm.buttonText}}</md-button>
            <md-button class="md-raised" ng-click="vm.test()">{{vm.user.name}}</md-button>
        </section>
    </div>
</md-content>