<md-dialog aria-label="Interview Times">
    <form name="vm.interviewDayForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Interview Times for {{selectedDate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-radio-group ng-model="vm.interviewList">

                    <md-radio-button ng-repeat="i in interviews" ng-value="i">{{i.startDatePretty}} - {{i.endDatePretty}}</md-radio-button>

                </md-radio-group>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer(vm.interviewList)">
                Submit Interview Time
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
