<md-content layout="column" layout-align="center center">
  <md-toolbar class="md-toolbar-tools" layout-align="center center">Impact Interview Signups:</md-toolbar>
  <h3>Please Login Below:</h3>
</md-content>

<md-content layout="row" layout-align="center center">
    <div flex="50" layout-align="center center">
        <form name="loginForm">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>First Name</label>
                    <input name="fistName" ng-model="applicant.firstName" required>
                    <div ng-messages="loginForm.firstName.$error">
                      <div ng-message="required">First Name is required.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Last Name</label>
                    <input name="lastName" ng-model="applicant.lastName" required>
                    <div ng-messages="loginForm.lastName.$error">
                      <div ng-message="required">Last Name is required.</div>
                    </div>
                </md-input-container>
            </div>

            <md-input-container class="md-block">
                <label>Email Address</label>
                <input name="email" type="email" ng-model="applicant.emailAddress" required>
                <div ng-messages="loginForm.email.$error">
                  <div ng-message="required">Valid email is required.</div>
                </div>
            </md-input-container>
            <md-radio-group ng-model="applicant.gender" class="md-primary" required>
              <md-radio-button value=true>Male</md-radio-button>
              <md-radio-button value=false>Female</md-radio-button>
            </md-radio-group>

            <md-button layout-fill type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" ui-sref="interview({applicant:applicant})">Login</md-button>
        </form>
    </div>
</md-content>
