<md-dialog aria-label="Interview Times">
    <form name="vm.interviewDayForm" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Interview Times for {{selectedDate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
              <md-subheader class="md-primary">Existing Times:</md-subheader>
              <!-- <md-subheader class="md-primary" layout-padding>
                <span>Start Time:</span>
                <span>End Time:</span>
                <span>Applicant:</span>
              </md-subheader> -->
              <md-list-item ng-repeat="i in interviews" ng-value="i">
                <md-input-container >
                  <label>Start Time:</label>
                  <input ng-model="i.startDatePretty" disabled>
                </md-input-container>
                <md-input-container >
                  <label>End Time:</label>
                  <input ng-model="i.endDatePretty" disabled>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Applicant:</label>
                  <input ng-model="i.applicantFull" disabled>
                </md-input-container>

                <md-button class="md-warn md-raised" ng-click="deleteInterview(i)">Delete</md-button>
              </md-list-item>

            </div>
            <div class="md-dialog-content">
              <md-subheader class="md-primary">Add Times:</md-subheader>
              <div layout="row">
              <form name="addinterviewForm" >

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Start Time:</label>
                    <input type="time" ng-model="startDate"
                      placeholder="HH:mm:ss"  required />
                    <div ng-messages="loginForm.firstName.$error">
                      <div ng-message="required">Start Time is required.</div>
                    </div>
                </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm>
                      <label>End Time:</label>
                      <input type="time"  ng-model="endDate"
                        placeholder="HH:mm:ss"  required />
                      <div ng-messages="loginForm.firstName.$error">
                        <div ng-message="required">End Time is required.</div>
                      </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                      <label>Number of Slots:</label>
                      <input type="number"  min="1" max="5" ng-model="numberOfSlots"
                         required />
                      <div ng-messages="loginForm.firstName.$error">
                        <div ng-message="required">Number between 1 and 5</div>
                      </div>
                  </md-input-container>
                  <md-button type="submit" class="md-raised md-primary" ng-disabled="addinterviewForm.$invalid" ng-click="addInterview()">Add</md-button>
                </div>
              </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
