$impact-dark: rgb(66, 105, 118);
$impact-light: rgb(175, 204, 213);

$impact-bg-header: rgb(36, 36, 36);
$impact-text-header: rgb(255, 255, 255);

$impact-bg-body: rgb(234, 233, 232);
$impact-text-body: rgb(36, 36, 36);

$impact-accent: rgb(144, 44, 53);
