@import "variables";

p {
  //background-color: $impact-light;
  font-size: 1em;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  text-align: center;

  &:after {
    content: "]";
  }

  &:before {
    content: "[";
  }

  li {
    display: inline;
  }

  li + li:before {
    content: "|";
    padding-right: 0.3em;
  }
}

.available { background-color: $impact-light}

.diffMonth { background-color: darkgrey}

.noInterview{  background-color: $impact-dark}

.disabled { background-color: $impact-dark}

.diffMonth { background-color: darkgrey}


.logoImage{
    height: auto;
    max-height: 55px;
    width: auto;
    max-width: 100%;
}

.md-toolbar-tools{
  background-color: $impact-bg-header;
  color: $impact-text-header;
}
